/*======================================================
====================ШРИФТЫ==============================
======================================================*/

@font-face {
  font-family: "TinkoffSans-Medium";
  src:
    url("../fonts/TinkoffSans-Medium.woff2") format("woff2"),
    url("../fonts/TinkoffSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "neueRegular";
  src: url("../fonts/neuehaasunicaw1g-regular.woff") format("woff");
}

/*======================================================
============ПЕРЕМЕННЫЕ ЦВЕТА============================
======================================================*/

body.light-theme {
  --text-color: #202028;
  --bg-color-main: #fff;
  --button-color: #fff;
  --button-bg-color: #4bb87f;
  --button-arrow-color: #fff;
  --title-color: #111;
  --button-2-color: #009c5f;
  --button-2-grey-color: #ebedf0;
  --button-2-grey-text-color: #222222;
  --grey-color: #6d7885;
  --step-color: #f5f6f8;
  --step-text-color: #6d7885;
  --bg-color-2: #f5f6f8;
  --icon-bg-color: #f5f6f8;
  --button-shadow: 44, 199, 138;
  --contrast-color: #000;
  --contrast-reverse-color: #fff;
}

body.dark-theme {
  --text-color: #fff;
  --bg-color-main: #141414;
  --button-color: #111;
  --button-bg-color: #4bb87f;
  --button-arrow-color: #111;
  --title-color: #fff;
  --button-2-color: #009c5f;
  --button-2-grey-color: #262626;
  --button-2-grey-text-color: #fff;
  --grey-color: #6d7885;
  --step-color: #5c5c5c;
  --step-text-color: #a3a4a5;
  --bg-color-2: #1a1a1a;
  --icon-bg-color: #262626;
  --button-shadow: 44, 199, 138;
  --contrast-color: #fff;
  --contrast-reverse-color: #000;
}

/*======================================================
==================ОБЩИЕ СТИЛИ===========================
======================================================*/

body {
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  font-size: 27px;
  font-weight: 500;
  line-height: 135%;
  color: var(--text-color);
  background-color: var(--bg-color-main);
  overflow-x: hidden;
  transition: all 0.3s ease;
  span {
    font-weight: 600;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

div[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
  @media (max-width: 1230px) {
    max-width: 1054px;
  }
  @media (max-width: 1054px) {
    max-width: 798px;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  padding: 0 35px;
  border-radius: 30px;
  font-size: 18px;
  list-style: calc(32 / 18 * 100%);
  font-weight: 600;
  color: var(--button-color);
  background-color: #4bb87f;
  transition: all 0.3s ease;
  &__arrow {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    transition: all 0.3s ease;
    path {
      stroke: var(--button-arrow-color);
      transition: all 0.3s ease;
    }
  }
  &:hover {
    transform: scale(0.95);
    -webkit-filter: brightness(95%);
    filter: brightness(95%);
    .button__arrow {
      transform: translateX(10px);
    }
  }
}

.title {
  font-size: 50px;
  font-weight: 600;
  color: var(--title-color);
  line-height: 120%;
}

.button-2 {
  font-size: 18px;
  font-weight: 600;
  line-height: calc(32 / 18 * 100%);
  color: var(--button-2-color);
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease;
  &__arrow {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    path {
      stroke: var(--button-2-color);
    }
  }
  &:hover {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
  }
}

.grey-text {
  font-size: 18px;
  color: var(--step-text-color);
  line-height: 135%;
}

/*======================================================
==================MAIN INFO===========================
======================================================*/

.main-info {
  border-radius: 0px 0px 50px 50px;
  position: relative;
  background-color: var(--bg-color-main);
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-2);
  }
  &__container {
    padding: 97.5px 15px 53px !important;
    position: relative;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 588px;
  }

  &__title {
  }

  &__text {
    font-size: 20px;
    line-height: 135%;
  }

  &__swiper {
    position: absolute;
    top: -32px;
    right: -162px;
    width: 895.39px;
    height: 597px;
  }

  &__swiper-wrapper {
  }

  &__swiper-slide {
    img {
      height: 100%;
    }
  }

  &__swiper-pagination {
    bottom: 20px !important;
    .swiper-pagination-bullet {
      width: 12.88px;
      height: 12.88px;
      margin: 0px 2.5px !important;
      background-color: #ececec;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background-color: var(--button-bg-color);
    }
  }

  &__contact {
  }
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 31px;
  &__button {
    min-width: 273px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
  @-webkit-keyframes green-round {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes green-round {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  &__text-title {
    font-size: 16px;
    line-height: 135%;
    color: var(--title-color);
    position: relative;
    padding-left: 17px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #32c24c;
      -webkit-animation: green-round 1s ease infinite;
      animation: green-round 1s ease infinite;
    }
  }

  &__text-under {
    font-size: 13px;
    line-height: 135%;

    color: var(--grey-color);
  }
}

/*======================================================
=====================SERVICES===========================
======================================================*/

.services {
  padding: 130px 0;
  background-color: var(--bg-color-2);
  &__container {
  }

  &__texts {
    max-width: 800px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 23px;
  }

  &__blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;
  }

  &__block {
  }

  &__image {
  }

  &__button {
  }
}

.block-services {
  border-radius: 30px;
  padding: 35px 25px;
  background-color: var(--bg-color-main);
  display: flex;
  flex-direction: column;
  min-height: 386px;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(0.95);
    -webkit-filter: brightness(93%);
    filter: brightness(93%);
    .block-services__image {
      background-color: var(--button-2-color);
      svg > path {
        stroke: var(--contrast-reverse-color);
      }
    }
  }
  &__image {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--icon-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: all 0.3s ease;

    svg {
      path {
        stroke: var(--contrast-color);
        transition: all 0.3s ease;
      }
    }
  }

  &__title {
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: auto;
  }

  &__button {
    &.button {
      max-width: -webkit-fit-content;
      max-width: -moz-fit-content;
      max-width: fit-content;
      min-width: 239px;
      box-shadow: 0px 4px 15px rgba(var(--button-shadow), 0.25);
      position: relative;
      margin-bottom: -8px;
    }
  }
}

/*======================================================
=====================STEPS=============================
======================================================*/

.steps {
  padding: 130px 0;
  overflow: hidden;

  &__container {
    display: flex;
    gap: 67px;
  }

  &__texts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1 0 430px;
  }

  &__title {
  }

  &__text {
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
    counter-reset: step 0;
  }

  &__block {
  }
}

.block-step {
  padding: 40px 58px;
  border-radius: 20px 0px 0px 20px;
  background-color: var(--step-color);
  min-height: 386px;
  counter-increment: step 1;
  position: relative;
  width: calc(50vw + 103px);

  &:not(:nth-child(2)) {
    .block-step__image {
      top: 51%;
      transform: translateY(-50%);
      right: 0;
    }
  }
  &:last-child {
    .block-step__image {
      right: 35.76px;
    }
  }
  &:nth-child(2) {
    .block-step__image {
      bottom: 0;
      right: 0;
    }
  }

  &__num {
    font-size: 50px;
    font-weight: 700;
    color: var(--button-bg-color);
    line-height: 120%;
    margin-bottom: 56px;
    &::before {
      content: counter(step);
    }
  }

  &__texts {
    max-width: 455px;
  }

  &__title {
    font-weight: 600;
    color: var(--title-color);
    line-height: 120%;
    margin-bottom: 20px;
  }

  &__text {
  }

  &__image {
    position: absolute;
  }
}

/*======================================================
=====================EXAMPLES===========================
======================================================*/

.examples {
  overflow: hidden;

  &__container {
    position: relative;
  }

  &__texts {
    margin-bottom: 60.05px;
  }

  &__title {
    display: inline-block;
    margin-bottom: 26.95px;
    position: relative;
    padding-right: 66.95px;
    max-width: 711px;

    svg {
      position: absolute;
      top: 55%;
      right: 10px;
      transform: translateY(-50%) rotate(50deg);
      width: 47.52px;
      height: 47.52px;
      path {
        stroke: var(--button-bg-color);
      }
    }
  }

  &__text {
    max-width: 711px;
  }

  &__swiper {
    overflow: visible !important;
  }

  &__swiper-wrapper {
    position: relative;
  }

  &__swiper-slide {
  }

  &__swiper-pagination {
    position: absolute;
    top: 14.5px !important;
    left: -12px !important;
    text-align: right;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    .swiper-pagination-bullet {
      width: 12.88px;
      height: 12.88px;
      margin: 0px 2.5px !important;
      background-color: #ececec;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background-color: var(--button-bg-color);
    }
  }

  &__swiper-button-prev {
    right: -15px;
    top: 360px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--button-bg-color);
    color: #fff;
    &::after {
      font-size: 17.5px;
    }
    &.swiper-button-disabled {
      display: none;
    }
  }

  &__swiper-button-next {
    left: -15px;
    top: 360px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--button-bg-color);
    transform: rotate(180deg);
    color: #fff;
    &::after {
      font-size: 17.5px;
    }
    &.swiper-button-disabled {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
  }

  &__button {
    margin-top: 60px;

    &:hover {
      transform: none;
      -webkit-filter: none;
      filter: none;
    }
    &:nth-child(1)._grey {
      background-color: var(--button-2-grey-color);
      color: var(--button-2-grey-text-color);
    }
    &:nth-child(2) {
      background-color: var(--button-2-grey-color);
      color: var(--button-2-grey-text-color);
      padding: 0px 22px;

      &:hover {
        .button__arrow {
          transform: none;
        }
        background-color: var(--button-bg-color);
        color: var(--button-color);
        svg > path {
          stroke: var(--button-color);
        }
      }
      svg {
        margin-left: 13px;
        path {
          stroke: var(--button-2-grey-text-color);
        }
      }
    }
  }
}

.slide-example {
  display: flex;
  flex-direction: column;
  width: 386px;
  gap: 20px;
  &:hover {
    .slide-example__image {
      img {
        transform: scale(1.1);
      }
    }
  }
  &__image {
    height: 371px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center center;
      object-position: center center;
      transition: all 0.3s ease;
    }
  }

  &__text {
    font-size: 23px;
    font-weight: 600;
    line-height: 120%;
    color: var(--title-color);
  }
}

/*======================================================
=====================SOLUTIONS==========================
======================================================*/

.solutions {
  padding: 130px 0;
}
.solution {
  &__container {
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 60px;
  }

  &__blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 23px;
  }

  &__block {
  }
}
.block-solution {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--bg-color-2);
  transition: all 0.3s ease;
  &:last-child {
    .block-solution__image {
      height: 100%;
    }
  }
  &:hover {
    transform: scale(0.95);
    -webkit-filter: brightness(93%);
    filter: brightness(93%);
  }
  &__image {
    width: 100%;
    height: 216.54px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    transition: all 0.3s ease;
  }
  &__body {
    padding: 30px;
  }
  &__title {
    font-weight: 600;
    line-height: 120%;
    color: var(--title-color);
    margin-bottom: 15px;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    color: var(--grey-color);
    margin-bottom: 15px;
    line-height: 135%;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    font-weight: 600;
    line-height: 120%;
    color: var(--title-color);
  }

  &__button {
  }
}

/*======================================================
=====================PRICE==========================
======================================================*/

.prices {
  &__container {
  }

  &__body {
    border-radius: 30px;
    background-color: var(--bg-color-2);
    padding: 61px 89px;
    display: flex;
    gap: 114px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 469px;
  }

  &__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: var(--contrast-color);
  }

  &__credit {
  }

  &__right {
    display: flex;
    flex: 1 1 auto;
    padding: 9px 0;
    tbody {
      width: 100%;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__name {
    font-size: 20px;
    line-height: 135%;
    color: var(--grey-color);
  }

  &__price {
    line-height: 135%;
    font-size: 20px;
    font-weight: 700;
    color: var(--contrast-color);
  }
}

.credit-prices {
  display: flex;
  border-radius: 21px;
  background-color: var(--bg-color-main);
  padding: 19.59px 25.71px;
  height: 99px;
  width: 100%;
  &__image {
    padding-right: 9px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-family: "TinkoffSans-Medium", sans-serif;
    font-size: 23px;
    line-height: 160%;
    font-weight: 500;
    color: #333;
  }

  &__text {
    font-family: "neueRegular", sans-serif;
    font-size: 14px;
    line-height: 160%;
    font-weight: 500;
    color: #757575;
  }
}

/*======================================================
======================REPORTS===========================
======================================================*/

.reports {
  padding: 130px 0;
  background-color: var(--bg-color-2);
  overflow: hidden;

  &__container {
  }

  &__title {
    margin-bottom: 60px;
  }

  &__swiper {
    overflow: visible !important;
  }

  &__blocks {
  }
}

.blocks-reports {
  cursor: pointer;
  display: flex;
  align-items: stretch;
  &__block {
    height: auto;
    width: 444px !important;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 30px;
    background-color: var(--bg-color-main);
  }

  &__header {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__image {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__name {
    color: var(--title-color);
    line-height: 135%;
  }

  &__info {
    font-size: 16px;
    line-height: 135%;
    color: var(--button-2-color);
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    color: var(--grey-color);
    line-height: 135%;
  }
}
