/*======================================================
====================ШРИФТЫ==============================
======================================================*/

@font-face {
  font-family: "TinkoffSans-Medium";
  src:
    url("../fonts/TinkoffSans-Medium.woff2") format("woff2"),
    url("../fonts/TinkoffSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "neueRegular";
  src: url("../fonts/neuehaasunicaw1g-regular.woff") format("woff");
}

/*======================================================
============ПЕРЕМЕННЫЕ ЦВЕТА============================
======================================================*/

body.light-theme {
  --text-color: #202028;
  --bg-color-main: #fff;
  --button-color: #fff;
  --button-bg-color: #4bb87f;
  --button-arrow-color: #fff;
  --title-color: #111;
  --button-2-color: #009c5f;
  --button-2-grey-color: #ebedf0;
  --button-2-grey-text-color: #222222;
  --grey-color: #6d7885;
  --step-color: #f5f6f8;
  --step-text-color: #6d7885;
  --bg-color-2: #f5f6f8;
  --icon-bg-color: #f5f6f8;
  --button-shadow: 44, 199, 138;
  --contrast-color: #000;
  --contrast-reverse-color: #fff;
  --credit-color: #333;
  --credit-2-color: #757575;
  --articles-button: #2cc78a;
  --article-block-bg-color: #fff;
  --article-block-stroke-color: #eaeef3;
}

body.dark-theme {
  --text-color: #fff;
  --bg-color-main: #141414;
  --button-color: #111;
  --button-bg-color: #4bb87f;
  --button-arrow-color: #111;
  --title-color: #fff;
  --button-2-color: #009c5f;
  --button-2-grey-color: #262626;
  --button-2-grey-text-color: #fff;
  --grey-color: #6d7885;
  --step-color: #5c5c5c;
  --step-text-color: #a3a4a5;
  --bg-color-2: #1a1a1a;
  --icon-bg-color: #262626;
  --button-shadow: 44, 199, 138;
  --contrast-color: #fff;
  --contrast-reverse-color: #000;
  --credit-color: #ddd;
  --credit-2-color: #a3a4a5;
  --articles-button: #2cc78a;
  --article-block-bg-color: #1a1a1a;
  --article-block-stroke-color: #292929;
}

/*======================================================
==================ОБЩИЕ СТИЛИ===========================
======================================================*/

body {
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  font-size: 27px;
  @media (max-width: 1231px) {
    font-size: 22px;
  }
  @media (max-width: 1023px) {
    font-size: 18px;
  }
  @media (max-width: 799px) {
    font-size: 16px;
  }
  @media (max-width: 607px) {
    font-size: 14px;
  }
  font-weight: 500;
  line-height: 135%;
  color: var(--text-color);
  background-color: var(--bg-color-main);
  transition: all 0.3s ease;
  span {
    font-weight: 600;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

div[class*="__container"] {
  max-width: 1231px;
  margin: 0 auto;
  padding: 0px 15px;
  @media (max-width: 1231px) {
    max-width: 1023px;
  }
  @media (max-width: 1023px) {
    max-width: 799px;
  }
  @media (max-width: 799px) {
    max-width: 607px;
  }
  @media (max-width: 607px) {
    max-width: none;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  padding: 0 35px;
  border-radius: 30px;
  font-size: 18px;
  list-style: calc(32 / 18 * 100%);
  font-weight: 600;
  color: var(--button-color);
  background-color: #4bb87f;
  transition: all 0.3s ease;
  @media (max-width: 1231px) {
    height: 55px;
    padding: 0 20px;
    font-size: 15px;
  }
  @media (max-width: 1023px) {
    height: 45px;
    padding: 0 15px;
    font-size: 13px;
  }
  @media (max-width: 607px) {
    font-size: 12px;
    height: 44px;
    border-radius: 20px;
  }
  &__arrow {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    transition: all 0.3s ease;
    @media (max-width: 1231px) {
      width: 22px;
      height: 22px;
      margin-left: 8px;
    }
    @media (max-width: 1023px) {
      width: 18px;
      height: 18px;
      margin-left: 6px;
    }
    path {
      stroke: var(--button-arrow-color);
      transition: all 0.3s ease;
    }
  }
  @media (min-width: 1024px) {
    &:hover {
      transform: scale(0.95);
      -webkit-filter: brightness(95%);
      filter: brightness(95%);
    }
  }
}

.title {
  font-size: 50px;
  font-weight: 600;
  color: var(--title-color);
  line-height: 120%;
  @media (max-width: 1231px) {
    font-size: 36px;
  }
  @media (max-width: 1023px) {
    font-size: 28px;
  }
  @media (max-width: 799px) {
    font-size: 22px;
  }
  @media (max-width: 607px) {
    font-size: 18px;
  }
}

.button-2 {
  font-size: 18px;
  font-weight: 600;
  line-height: calc(32 / 18 * 100%);
  color: var(--button-2-color);
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease;
  @media (max-width: 1231px) {
    font-size: 16px;
  }
  @media (max-width: 1023px) {
    font-size: 13px;
  }
  @media (max-width: 799px) {
  }
  @media (max-width: 607px) {
    font-size: 11px;
  }
  &__arrow {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    @media (max-width: 1231px) {
      width: 20px;
      height: 20px;
      margin-left: 3px;
    }
    @media (max-width: 1023px) {
      width: 16px;
      height: 16px;
    }
    @media (max-width: 799px) {
    }
    @media (max-width: 607px) {
      width: 12px;
      height: 12px;
    }
    path {
      stroke: var(--button-2-color);
    }
  }
  @media (min-width: 1024px) {
    &:hover {
      -webkit-filter: brightness(70%);
      filter: brightness(70%);
    }
  }
}

.grey-text {
  font-size: 18px;
  color: var(--step-text-color);
  line-height: 135%;
  font-weight: 400;
  @media (max-width: 1231px) {
    font-size: 16px;
  }
  @media (max-width: 1023px) {
    font-size: 13px;
  }
  @media (max-width: 799px) {
  }
  @media (max-width: 607px) {
    font-size: 11px;
  }
}

/*======================================================
==================MAIN INFO===========================
======================================================*/

.main-info {
  border-radius: 0px 0px 50px 50px;
  position: relative;
  background-color: var(--bg-color-main);
  @media (max-width: 1231px) {
    border-radius: 0px 0px 30px 30px;
  }
  @media (max-width: 799px) {
    border-radius: 0px;
  }

  *:not(.main-info__swiper, .main-info__inner, .main-info__swiper-pagination) {
    position: relative;
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-2);
  }
  &__container {
    padding: 97.5px 15px 53px !important;
    position: relative;
    @media (max-width: 1231px) {
      padding: 80px 15px 50px !important;
    }
    @media (max-width: 1023px) {
      padding: 60px 15px 40px !important;
    }
    @media (max-width: 799px) {
      padding: 40px 15px 40px !important;
    }
    @media (max-width: 607px) {
      padding: 35px 15px !important;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 588px;
    @media (max-width: 1231px) {
      max-width: 501px;
      gap: 30px;
    }
    @media (max-width: 1023px) {
      gap: 25.6px;
      max-width: 380px;
    }
    @media (max-width: 799px) {
      max-width: none;
    }
  }

  &__title {
  }

  &__text {
    font-size: 20px;
    line-height: 135%;
    @media (max-width: 1231px) {
      font-size: 16px;
    }
    @media (max-width: 1023px) {
      font-size: 14px;
    }
    @media (max-width: 799px) {
    }
    @media (max-width: 607px) {
      font-size: 12.32px;
    }
  }

  &__swiper {
    position: absolute;
    z-index: 0;
    top: -32px;
    right: -162px;
    width: 895.39px;
    height: 597px;
    @media (max-width: 1231px) {
      height: 500px;
      width: 770px;
    }
    @media (max-width: 1023px) {
      height: 400px;
      width: 640px;
    }
    @media (max-width: 799px) {
      height: 435px;
      width: 660px;
      top: 135px;
      right: 0;
      left: 0;
    }
    @media (max-width: 607px) {
      height: 105vw;
      width: 158vw;
      top: 110px;
      max-height: 435px;
      max-width: 660px;
      left: -28vw;
      right: -28vw;
    }
    @media (max-width: 445px) {
      top: 150px;
    }
    @media (max-width: 370px) {
      top: 170px;
    }
  }

  &__swiper-wrapper {
  }

  &__swiper-slide {
    img {
      height: 100%;
    }
  }

  &__swiper-pagination {
    bottom: 20px !important;
    .swiper-pagination-bullet {
      width: 12.88px;
      height: 12.88px;
      margin: 0px 2.5px !important;
      background-color: #ececec;
      opacity: 1;
      @media (max-width: 1231px) {
        width: 10px;
        height: 10px;
        margin: 0px 2px !important;
      }
      @media (max-width: 1023px) {
        width: 8px;
        height: 8px;
        margin: 0px 1.5px !important;
      }
    }
    .swiper-pagination-bullet-active {
      background-color: var(--button-bg-color);
    }
  }

  &__contact {
  }
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 31px;
  @media (max-width: 1231px) {
    gap: 25px;
  }
  @media (max-width: 1023px) {
    gap: 19px;
  }
  @media (max-width: 607px) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__button {
    min-width: 273px;
    @media (max-width: 1231px) {
      min-width: 240px;
    }
    @media (max-width: 1023px) {
      min-width: 200px;
    }
    @media (max-width: 607px) {
      min-width: 185px;
    }
    @media (min-width: 1024px) {
      &:hover {
        .button__arrow {
          transform: translateX(10px);
        }
      }
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    @media (max-width: 1231px) {
      gap: 3px;
    }
    @media (max-width: 1023px) {
      gap: 0px;
    }
  }
  @-webkit-keyframes green-round {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes green-round {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  &__text-title {
    font-size: 16px;
    line-height: 135%;
    color: var(--title-color);
    position: relative;
    padding-left: 17px;
    @media (max-width: 1231px) {
      font-size: 13px;
      padding-left: 13px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #32c24c;
      -webkit-animation: green-round 1s ease infinite;
      animation: green-round 1s ease infinite;
      @media (max-width: 1231px) {
        width: 8px;
        height: 8px;
      }
    }
  }

  &__text-under {
    font-size: 13px;
    line-height: 135%;
    @media (max-width: 1231px) {
      font-size: 10px;
    }

    color: var(--grey-color);
  }
}

/*======================================================
=====================SERVICES===========================
======================================================*/

.services {
  padding: 130px 0;
  background-color: var(--bg-color-2);
  @media (max-width: 1231px) {
    padding: 100px 0;
  }
  @media (max-width: 1023px) {
    padding: 80px 0;
  }
  @media (max-width: 799px) {
    padding: 60px 0;
  }
  @media (max-width: 607px) {
    padding: 40px 0;
  }
  &__container {
  }

  &__texts {
    max-width: 800px;
    @media (max-width: 1231px) {
      max-width: 610px;
    }
    @media (max-width: 1023px) {
      max-width: 480px;
    }
    @media (max-width: 799px) {
      max-width: none;
    }
  }

  &__title {
    margin-bottom: 20px;
    @media (max-width: 1231px) {
      margin-bottom: 16px;
    }
    @media (max-width: 1023px) {
      margin-bottom: 12px;
    }
    @media (max-width: 799px) {
      margin-bottom: 8px;
    }
  }

  &__text {
    margin-bottom: 23px;
    @media (max-width: 1231px) {
      margin-bottom: 20px;
    }
    @media (max-width: 1023px) {
      margin-bottom: 16px;
    }
    @media (max-width: 799px) {
      margin-bottom: 12px;
    }
  }

  &__blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;
    @media (max-width: 1231px) {
      gap: 18px;
    }
    @media (max-width: 1023px) {
      gap: 14px;
    }
    @media (max-width: 799px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 607px) {
      display: flex;
      overflow-x: auto;
      scrollbar-color: transparent;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__block {
  }

  &__image {
  }

  &__button {
  }
}

.block-services {
  border-radius: 30px;
  padding: 35px 25px;
  background-color: var(--bg-color-main);
  display: flex;
  flex-direction: column;
  min-height: 386px;
  transition: all 0.3s ease;
  @media (max-width: 1231px) {
    border-radius: 20px;
    padding: 25px 20px;
    min-height: 340px;
  }
  @media (max-width: 1023px) {
    border-radius: 15px;
    padding: 20px 15px;
    min-height: 270px;
  }
  @media (max-width: 799px) {
  }
  @media (max-width: 607px) {
    border-radius: 10px;
    padding: 15px;
    min-height: 0px;
    min-width: 200px;
  }
  @media (min-width: 1024px) {
    &:hover {
      transform: scale(0.95);
      -webkit-filter: brightness(93%);
      filter: brightness(93%);
      .block-services__image {
        background-color: var(--button-2-color);
        svg > path {
          stroke: var(--contrast-reverse-color);
        }
      }
    }
  }

  &__image {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--icon-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    @media (max-width: 1231px) {
      width: 50px;
      height: 50px;
      border-radius: 8px;
      margin-bottom: 15px;
    }
    @media (max-width: 1023px) {
      width: 40px;
      height: 40px;
      border-radius: 6px;
      margin-bottom: 10px;
    }
    @media (max-width: 799px) {
    }
    @media (max-width: 607px) {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      margin-bottom: 8px;
    }
    svg {
      width: 50%;
      path {
        stroke: var(--contrast-color);
        transition: all 0.3s ease;
      }
    }
  }

  &__title {
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 20px;
    @media (max-width: 1231px) {
      margin-bottom: 15px;
    }
    @media (max-width: 1023px) {
      margin-bottom: 10px;
    }
    @media (max-width: 799px) {
    }
    @media (max-width: 607px) {
      margin-bottom: 8px;
    }
  }

  &__text {
    margin-bottom: auto;
  }

  &__button {
    &.button {
      max-width: -webkit-fit-content;
      max-width: -moz-fit-content;
      max-width: fit-content;
      min-width: 239px;
      box-shadow: 0px 4px 15px rgba(var(--button-shadow), 0.25);
      position: relative;
      margin-bottom: -8px;
      @media (max-width: 1231px) {
        min-width: 200px;
        margin-bottom: -4px;
      }
      @media (max-width: 1023px) {
        min-width: 160px;
        margin-bottom: 0;
        margin-top: 10px;
      }
      @media (max-width: 799px) {
      }
      @media (max-width: 607px) {
        min-width: 130px;
        margin-top: 5px;
        font-size: 10px;
        height: 35px;
      }
    }
  }
}

/*======================================================
=====================STEPS=============================
======================================================*/

.steps {
  padding: 130px 0;
  @media (max-width: 1231px) {
    padding: 100px 0;
  }
  @media (max-width: 1023px) {
    padding: 80px 0;
  }
  @media (max-width: 799px) {
    padding: 60px 0;
  }
  @media (max-width: 607px) {
    padding: 40px 0;
  }
  &__container {
    display: flex;
    gap: 67px;
    height: 100%;
    position: relative;
    @media (max-width: 1231px) {
      gap: 40px;
    }
    @media (max-width: 1023px) {
      gap: 30px;
    }
    @media (max-width: 799px) {
      flex-direction: column;
    }
    @media (max-width: 607px) {
      gap: 20px;
    }
  }

  &__texts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1 0 430px;
    height: fit-content;
    position: sticky;
    top: 20px;
    @media (max-width: 1231px) {
      gap: 20px;
      flex: 1 0 400px;
    }
    @media (max-width: 1023px) {
      gap: 10px;
      flex: 1 0 330px;
    }
    @media (max-width: 799px) {
      gap: 5px;
      flex: 1 0 0;
    }
    @media (max-width: 607px) {
    }
  }

  &__title {
  }

  &__text {
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
    counter-reset: step 0;
    @media (max-width: 1231px) {
      gap: 30px;
    }
    @media (max-width: 1023px) {
      gap: 20px;
    }
    @media (max-width: 799px) {
      gap: 15px;
    }
    @media (max-width: 607px) {
      gap: 10px;
    }
  }

  &__block {
  }
}

.block-step {
  padding: 40px 58px;
  border-radius: 20px 0px 0px 20px;
  background-color: var(--step-color);
  min-height: 386px;
  counter-increment: step 1;
  position: relative;
  width: calc(50vw + 103px);
  @media (max-width: 1231px) {
    padding: 30px 40px;
    min-height: 0px;
  }
  @media (max-width: 1023px) {
    padding: 20px 30px;
    width: calc(50vw + 130px);
  }
  @media (max-width: 799px) {
    padding: 20px;
    width: 100%;
    border-radius: 10px;
  }
  @media (max-width: 607px) {
    padding: 15px;
  }

  &:not(:nth-child(2)) {
    .block-step__image {
      top: 51%;
      transform: translateY(-50%);
      right: 0;
      @media (max-width: 1231px) {
        transform: translateY(-50%) scale(0.8);
      }
      @media (max-width: 1023px) {
        transform: translateY(-50%) scale(0.5);
      }
      @media (max-width: 799px) {
        transform: translateY(-50%);
        height: 80%;
      }
      @media (max-width: 607px) {
        display: none;
      }
    }
  }
  &:last-child {
    .block-step__image {
      right: 35.76px;
      @media (max-width: 1231px) {
        right: 50px;
      }
      @media (max-width: 1023px) {
        right: 65px;
      }
      @media (max-width: 799px) {
        right: 20px;
      }
      @media (max-width: 607px) {
      }
    }
  }
  &:nth-child(2) {
    .block-step__image {
      bottom: 0;
      right: 0;
      @media (max-width: 1231px) {
        transform: scale(0.8);
        bottom: -37px;
      }
      @media (max-width: 1023px) {
        transform: scale(0.5);
        bottom: -92px;
      }
      @media (max-width: 799px) {
        transform: scale(1);
        height: 80%;
        bottom: 0;
      }
      @media (max-width: 607px) {
        display: none;
      }
    }
  }

  &__num {
    font-size: 50px;
    font-weight: 700;
    color: var(--button-bg-color);
    line-height: 120%;
    margin-bottom: 56px;
    &::before {
      content: counter(step);
    }
    @media (max-width: 1231px) {
      font-size: 40px;
      margin-bottom: 30px;
    }
    @media (max-width: 1023px) {
      font-size: 30px;
      margin-bottom: 15px;
    }
    @media (max-width: 799px) {
      font-size: 25px;
      margin-bottom: 10px;
    }
    @media (max-width: 607px) {
      font-size: 20px;
    }
  }

  &__texts {
    max-width: 455px;
    @media (max-width: 1231px) {
      max-width: 300px;
    }
    @media (max-width: 1023px) {
      max-width: 260px;
    }
    @media (max-width: 799px) {
      max-width: 320px;
    }
    @media (max-width: 607px) {
      max-width: 420px;
    }
  }

  &__title {
    font-weight: 600;
    color: var(--title-color);
    line-height: 120%;
    margin-bottom: 20px;
    @media (max-width: 1231px) {
      margin-bottom: 15px;
    }
    @media (max-width: 1023px) {
      margin-bottom: 10px;
    }
    @media (max-width: 799px) {
    }
    @media (max-width: 607px) {
    }
  }

  &__text {
  }

  &__image {
    position: absolute;
  }
}

/*======================================================
=====================EXAMPLES===========================
======================================================*/

.examples {
  overflow: hidden;

  &__container {
    position: relative;
  }

  &__texts {
    margin-bottom: 60.05px;
    max-width: 711px;
    @media (max-width: 1231px) {
      max-width: 650px;
      margin-bottom: 50px;
    }
    @media (max-width: 1023px) {
      max-width: 500px;
      margin-bottom: 40px;
    }
    @media (max-width: 799px) {
      max-width: 440px;
      margin-bottom: 30px;
    }
    @media (max-width: 607px) {
      max-width: 360px;
      margin-bottom: 20px;
    }
  }

  &__title {
    display: inline-block;
    margin-bottom: 26.95px;
    position: relative;
    padding-right: 66.95px;
    max-width: 711px;
    z-index: 2;
    @media (max-width: 1231px) {
      padding-right: 55px;
      margin-bottom: 20px;
    }
    @media (max-width: 1023px) {
      padding-right: 45px;
      margin-bottom: 15px;
    }
    @media (max-width: 799px) {
      padding-right: 35px;
      margin-bottom: 10px;
    }
    @media (max-width: 607px) {
      padding-right: 30px;
      margin-bottom: 5px;
    }

    svg {
      position: absolute;
      top: 55%;
      right: 10px;
      transform: translateY(-50%) rotate(50deg);
      width: 47.52px;
      height: 47.52px;
      @media (max-width: 1231px) {
        width: 40px;
        height: 40px;
      }
      @media (max-width: 1023px) {
        width: 32px;
        height: 32px;
      }
      @media (max-width: 799px) {
        width: 24px;
        height: 24px;
      }
      @media (max-width: 607px) {
        width: 18px;
        height: 18px;
      }
      path {
        stroke: var(--button-bg-color);
      }
    }
  }

  &__text {
  }

  &__swiper {
    overflow: visible !important;
  }

  &__swiper-wrapper {
    position: relative;
  }

  &__swiper-slide {
  }

  &__swiper-pagination {
    position: absolute;
    z-index: 1;
    top: 14.5px !important;
    left: -12px !important;
    text-align: right;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    @media (max-width: 1231px) {
      left: -15px !important;
    }
    @media (max-width: 1023px) {
      left: -10px !important;
    }
    @media (max-width: 799px) {
      left: -5px !important;
    }
    @media (max-width: 607px) {
    }
    .swiper-pagination-bullet {
      width: 12.88px;
      height: 12.88px;
      margin: 0px 2.5px !important;
      background-color: #ececec;
      opacity: 1;
      @media (max-width: 1231px) {
        width: 10px;
        height: 10px;
        margin: 0 2px !important;
      }
      @media (max-width: 1023px) {
        width: 9px;
        height: 9px;
        margin: 0 1.5px !important;
      }
      @media (max-width: 799px) {
        width: 7px;
        height: 7px;
        margin: 0 1px !important;
      }
      @media (max-width: 607px) {
        display: none;
      }
    }
    .swiper-pagination-bullet-active {
      background-color: var(--button-bg-color);
    }
  }

  &__swiper-button-prev {
    right: -15px;
    top: 360px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--button-bg-color);
    color: #fff;
    &::after {
      font-size: 17.5px;
      @media (max-width: 1231px) {
        font-size: 15px;
      }
      @media (max-width: 1023px) {
        font-size: 14px;
      }
      @media (max-width: 799px) {
      }
      @media (max-width: 607px) {
      }
    }
    &.swiper-button-disabled {
      display: none;
    }
    @media (max-width: 1231px) {
      width: 55px;
      height: 55px;
      top: 300px;
      right: -10px;
    }
    @media (max-width: 1023px) {
      display: none;
    }
    @media (max-width: 799px) {
    }
    @media (max-width: 607px) {
    }
  }

  &__swiper-button-next {
    left: -15px;
    top: 360px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--button-bg-color);
    transform: rotate(180deg);
    color: #fff;
    &::after {
      font-size: 17.5px;
      @media (max-width: 1231px) {
        font-size: 15px;
      }
      @media (max-width: 1023px) {
        font-size: 14px;
      }
      @media (max-width: 799px) {
      }
      @media (max-width: 607px) {
      }
    }
    &.swiper-button-disabled {
      display: none;
    }
    @media (max-width: 1231px) {
      width: 55px;
      height: 55px;
      top: 300px;
      left: -10px;
    }
    @media (max-width: 1023px) {
      display: none;
    }
    @media (max-width: 799px) {
    }
    @media (max-width: 607px) {
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    @media (max-width: 1231px) {
      gap: 18px;
    }
    @media (max-width: 1023px) {
      gap: 12px;
    }
    @media (max-width: 799px) {
      gap: 8px;
    }
    @media (max-width: 607px) {
    }
  }

  &__button {
    margin-top: 60px;
    @media (min-width: 1024px) {
      &:hover {
        transform: none;
        -webkit-filter: none;
        filter: none;
      }
    }
    @media (max-width: 1231px) {
      margin-top: 50px;
    }
    @media (max-width: 1023px) {
      margin-top: 40px;
    }
    @media (max-width: 799px) {
      margin-top: 30px;
    }
    @media (max-width: 607px) {
      font-size: 9px;
      margin-top: 20px;
      height: 34px;
      border-radius: 16px;
    }

    &:nth-child(1)._grey {
      background-color: var(--button-2-grey-color);
      color: var(--button-2-grey-text-color);
    }
    &:nth-child(2) {
      background-color: var(--button-2-grey-color);
      color: var(--button-2-grey-text-color);
      padding: 0px 22px;
      @media (max-width: 607px) {
        padding: 0 15px;
      }
      @media (min-width: 1024px) {
        &:hover {
          .button__arrow {
            transform: none;
          }
          background-color: var(--button-bg-color);
          color: var(--button-color);
          svg > path {
            stroke: var(--button-color);
          }
        }
      }

      svg {
        margin-left: 13px;
        path {
          stroke: var(--button-2-grey-text-color);
        }
        @media (max-width: 1231px) {
          margin-left: 8px;
        }
        @media (max-width: 1023px) {
          margin-left: 4px;
        }
        @media (max-width: 799px) {
        }
        @media (max-width: 607px) {
          width: 14px;
          height: 15px;
          margin-left: 2px;
        }
      }
    }
  }
}

.slide-example {
  display: flex;
  flex-direction: column;
  width: 386px;
  gap: 20px;
  @media (max-width: 1231px) {
    gap: 15px;
  }
  @media (max-width: 1023px) {
    gap: 10px;
  }
  @media (max-width: 799px) {
    gap: 8px;
  }
  @media (max-width: 607px) {
    gap: 6px;
  }
  @media (min-width: 1024px) {
    &:hover {
      .slide-example__image {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
  &__image {
    height: 371px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    @media (max-width: 1231px) {
      height: 330px;
      border-radius: 25px;
    }
    @media (max-width: 1023px) {
      height: 250px;
      border-radius: 15px;
    }
    @media (max-width: 799px) {
      height: 180px;
      border-radius: 10px;
    }
    @media (max-width: 607px) {
      height: 150px;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center center;
      object-position: center center;
      transition: all 0.3s ease;
    }
  }

  &__text {
    font-size: 23px;
    font-weight: 600;
    line-height: 120%;
    color: var(--title-color);
    @media (max-width: 1231px) {
      font-size: 20px;
    }
    @media (max-width: 1023px) {
      font-size: 16px;
    }
    @media (max-width: 799px) {
      font-size: 13px;
    }
    @media (max-width: 607px) {
      font-size: 11px;
    }
  }
}

/*======================================================
=====================SOLUTIONS==========================
======================================================*/

.solutions {
  padding: 130px 0;
}
.solution {
  &__container {
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 60px;
  }

  &__blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 23px;
  }

  &__block {
  }
}
.block-solution {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--bg-color-2);
  transition: all 0.3s ease;
  &:last-child {
    .block-solution__image {
      height: 100%;
    }
  }
  @media (min-width: 1024px) {
    &:not(:last-child):hover {
      transform: scale(0.95);
      -webkit-filter: brightness(93%);
      filter: brightness(93%);
    }
  }

  &__image {
    width: 100%;
    height: 216.54px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    transition: all 0.3s ease;
  }
  &__body {
    padding: 30px;
  }
  &__title {
    font-weight: 600;
    line-height: 120%;
    color: var(--title-color);
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 15px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    font-weight: 600;
    line-height: 120%;
    color: var(--title-color);
  }

  &__button {
  }
}

/*======================================================
=====================PRICE==========================
======================================================*/

.prices {
  &__container {
  }

  &__body {
    border-radius: 30px;
    background-color: var(--bg-color-2);
    padding: 61px 89px;
    display: flex;
    gap: 114px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 469px;
  }

  &__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: var(--contrast-color);
  }

  &__credit {
  }

  &__right {
    display: flex;
    flex: 1 1 auto;
    padding: 9px 0;
    tbody {
      width: 100%;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__name {
    font-size: 20px;
    line-height: 135%;
    color: var(--grey-color);
  }

  &__price {
    line-height: 135%;
    font-size: 20px;
    font-weight: 700;
    color: var(--contrast-color);
  }
}

.credit-prices {
  display: flex;
  border-radius: 21px;
  background-color: var(--bg-color-main);
  padding: 19.59px 25.71px;
  height: 99px;
  width: 100%;
  &__image {
    padding-right: 9px;
    path#path-num {
      fill: var(--credit-color);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-family: "TinkoffSans-Medium", sans-serif;
    font-size: 23px;
    line-height: 160%;
    font-weight: 500;
    color: var(--credit-color);
    opacity: 0.8;
  }

  &__text {
    font-family: "neueRegular", sans-serif;
    font-size: 14px;
    line-height: 160%;
    font-weight: 500;
    color: var(--credit-2-color);
  }
}

/*======================================================
======================REPORTS===========================
======================================================*/

.reports {
  padding: 130px 0;
  background-color: var(--bg-color-2);
  overflow: hidden;

  &__container {
  }

  &__title {
    margin-bottom: 60px;
  }

  &__swiper {
    overflow: visible !important;
  }

  &__blocks {
  }
}

.blocks-reports {
  cursor: pointer;
  display: flex;
  align-items: stretch;
  &__block {
    height: auto;
    width: 444px !important;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 30px;
    background-color: var(--bg-color-main);
  }

  &__header {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__image {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__name {
    color: var(--title-color);
    line-height: 135%;
  }

  &__info {
    font-size: 16px;
    line-height: 135%;
    color: var(--button-2-color);
  }

  &__text {
  }
}

/*======================================================
======================QUESTIONS=========================
======================================================*/

.questions {
  padding-bottom: 130px;
  background-color: var(--bg-color-2);

  &__container {
  }

  &__title {
    margin-bottom: 60px;
  }

  &__spoilers {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__spoiler {
  }
}

.spoiler-quetions {
  width: 100%;
  border-radius: 20px;
  background-color: var(--bg-color-main);
  padding: 20px 30px;

  &__title {
    font-size: 27px;
    font-weight: 500;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
  }

  &__plus {
    height: 46px;
    width: 46px;
    border-radius: 7.76px;
    background-color: var(--bg-color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    svg {
      transition: all 0.3s ease;
      width: 18px;
      height: 18px;
      path {
        fill: var(--contrast-color);
      }
    }
    &._active {
      svg {
        transform: rotate(-45deg);
      }
    }
  }
  &__inner {
    display: none;
    max-width: 76%;
  }
  &__text {
    padding-top: 15px;
    font-weight: 500;
  }
}

/*======================================================
======================ARTICLES==========================
======================================================*/

.articles {
  padding: 130px 0 70px;
  &__container {
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  &__title {
  }

  &__watch-all {
    font-size: 18px;
    color: var(--button-2-grey-text-color);
    line-height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    margin-right: 5px;

    svg {
      margin-left: 10px;
      height: 16px;
      width: 8px;
      path {
        stroke: var(--articles-button);
      }
    }
    @media (min-width: 1024px) {
      &:hover {
        color: var(--articles-button);
      }
    }
  }

  &__blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;
  }

  &__block {
  }

  &__info {
  }
}

.block-articles {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s ease;
  margin-bottom: 60px;
  background-color: var(--article-block-bg-color);
  border: 1.5px solid var(--article-block-stroke-color);
  @media (min-width: 1024px) {
    &:hover {
      box-shadow: 0 4px 40px rgba(79, 79, 79, 0.1);
    }
  }

  &__image {
    border-radius: 20px;
    height: 250px;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__body {
    padding: 30px 30px 21px 30px;
  }

  &__title {
    font-size: 27px;
    font-weight: 600;
    line-height: 120%;
    color: var(--title-color);
    margin-bottom: 30px;
  }

  &__button {
    min-width: 185px;
  }
}

.info-articles {
  &__title {
    font-size: 27px;
    font-weight: 500;
    line-height: 135%;
    color: var(--title-color);
    margin-bottom: 20px;
  }

  &__text {
  }
}
